.loginContainer{
    width: 100vw;
    height: 100vh;

    background: var(--red);  
    color: var(--white);  

    display: flex;
    flex-direction: column; 
    align-items: flex-end;
    
    
}

.loginContainer section{
    height: 100%;
    width: 100%;
    padding: 2.5rem 2rem;
    padding-right: 8rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}



.logo {
    height: 100%;
    width: 100%;
    background: url("/logo.png") no-repeat center;
    opacity: 0.4;
}

.loginContainer section > div:last-child {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.login h1{
    height: 80px;
    font-weight: 600;
    font-size: 3.5rem;
    font-family: Inter, sans-serif;

    margin-bottom: 5rem;

    display: flex;
    align-items: center;
}
.login h1 > img{
    height: 100%;
}

.login strong{
    font-weight: 600;
    font-size: 2rem;
    font-family: Inter, sans-serif;
    line-height: 3rem;
    
}

.login p{
    width: 80%;
    font-weight: 400;
    font-size: 1rem;
    font-family: Inter, sans-serif;
    color: var(--text-highlight);

    margin-top: 2rem;
    margin-bottom: 2rem;

    display: flex;
    align-items: center;
}

.login p svg{
    font-size: 2rem;
    margin-right: 1rem;
}

.login .form{
    height: 50px;    

    display: flex;
    align-items: center;
}

.login .form input{
    height: 100%;
    padding: 1rem;
    color: var(--text-highlight);
    border: 0;
    
    border-radius: 5px 0 0 5px;

    background: linear-gradient(90deg, rgba(232,63,91,1) 35%, rgba(232,63,91,0.45) 100%);
}

.login .form input:hover{
    outline: var(--red-dark) solid 2px;
    cursor: pointer;
}

.login .form input:focus{
    color: var(--white);
    outline: var(--red-dark) solid 2px;
}

.login .form button{
    height: 100%;
    width: 50px;
    
    border: 0;
    color: var(--text-highlight);
    background: var(--red-dark);
}

.login .form button:focus{    
    background: var(--green);
    color: var(--white);
}

/* Responsividade */

@media(max-width: 920px){

    .loginContainer section{         
        grid-template-columns: 1fr;
        gap: 0;
    }
    .logo {        
        height: 0;
        width: 0;
        
    }

    .login{
        height: 100%;
    }
    .login h1{
        font-size: 2.5rem;
    }

}

