.loginContainer{
    width: 100vw;
    height: 100vh;
    

    display: flex;
    flex-direction: column; 
    align-items: flex-end;
    
    
}

.loginContainer section{
    height: 100%;
    max-width: 992px;
    padding: 2.5rem 2rem;
    padding-right: 8rem;

    display: flex;
    flex-direction: column;    
    justify-content: center;

}

.loginContainer h1{
    font-weight: 600;
    font-size: 3.5rem;
    font-family: Inter, sans-serif;

    margin-bottom: 5rem;
}

.loginContainer strong{
    font-weight: 600;
    font-size: 2.5rem;
    font-family: Inter, sans-serif;

    margin-bottom: 2rem;
}

.loginContainer p{
    width: 90%;
    font-weight: 400;
    font-size: 1rem;
    font-family: Inter, sans-serif;

    margin-bottom: 2rem;

    display: flex;
    align-items: center;
}

.loginContainer p svg{
    font-size: 2rem;
    margin-right: 1rem;
}


