.sideBarContainer{
    width: 5rem;
    
    height: 100vh;
    padding: 20px 0;
    background: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
@media(max-width: 920px){
       
    .sideBarContainer{
       position: fixed;
       width: 50px;
    }


}

.sideBarContainer header {
    width: 100%;
    height: 50px;
    /* max-height: 70px; */
}
.sideBarContainer header img{
    width: 100%;
    height: 100%;

    
}
.sideBarContainer a{
    width: 100%;
    height: 50px;
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sideBarContainer button{
    width: 100%;
    height: 50px;
    font-size: 1.5rem;

    border: 0;
    background: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sideBarContainer > div{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.sideBarContainer footer{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}