.container{
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
    
}

@media(max-width: 920px){
       
   .container{
      width: 100%;
      margin-left: 50px;
      
  }


}

.container h1{
    color: var(--title);
    margin-bottom: 2.25rem;
    font-size: 2.5rem;
}

.container table{
   width: 100%;  
   border-spacing: 5px;

   display: flex;
   flex-direction: column;
}

.container table thead{
   
   color: var(--text);
   text-align: left;
   font-size: 0.9rem;
}

.container table thead > tr{
   display: grid;
   grid-template-columns: 72px 60% 1fr 1fr;
}

.container table thead > tr th{
    padding-bottom: 20px;
}

.container table thead tr > th:nth-child(2){
   padding-left: 1.5rem;
}

.container table tbody > tr{    
   height: 96px;        
   margin-bottom: 6px;

   display: grid;
   grid-template-columns: 72px 60% 1fr 1fr;
}

.container table tbody tr td{
   background: var(--white);
   
   display: flex;
   align-items: center;
}

.container table tbody tr td:first-child{
   display: flex;
   justify-content: center;
   margin-right: 3px;
   border-radius: 5px 0 0 5px;

   font-weight: 600;
   font-size: 1.5rem;

 }

 .container table tbody tr td:last-child{
   border-radius: 0 5px 5px 0;

 }
 
 .container table tbody tr > td:nth-child(2){
    padding-left: 1.5rem;
 }

 .container table tbody tr td > div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
 }
 .container table tbody tr td > div > img{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
 }

 .container table tbody tr td > div > div{
    margin-left: 1.5rem;
 }

 .container table tbody tr td > div > div strong{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--title);
 }

 .container table tbody tr td > div > div p{
   font-size: 1.25rem;
   margin-top: 0.5rem;
 }
 .container table tbody tr td > div > div p > img{
    margin-right: 0.5rem;
 }

 .container table tbody tr td > p{
    font-weight: 500;
 }

 .container table tbody tr td > p > span{
   color: var(--red);
   font-size: 1.25rem;
}